.archives-list__list {
  margin-block-end: var(--space-l);
  padding-inline-start: 0;
}

.archives-list__item {
  display: flex;
  margin-block-end: 0;

  p {
    margin-block-end: 0;
  }
}

.archives-list__date {
  flex: 0 0 var(--space-2xl);
}

.archives-tags {
  margin-block: 0 var(--space-l);
  margin-inline: 0;
  padding: 0;
  list-style: none;
}

.archives-tags__item {
  display: inline-block;
  margin-block: 0;
  margin-inline: 0 var(--space-s);
  padding: 0;
}
