.archives__item {
      display: flex; 
    justify-content: space-between;
margin-bottom: calc(var(--flow-space));

  @media (--small) {
    margin-bottom: 0;
  }
}

.archives__date {
  line-height: 1.75;
  font-size: var(--size-body);
  flex-basis: 150px;
  text-align: right;
}

.archives__year {
  margin-top: calc(var(--flow-space) * 2);
}

.archives__list {
  margin-top: var(--flow-space);
}
