.archives__item {
  display: flex;
}

.archives__date {
  line-height: 1.75;
  flex-basis: 4em;
  flex-shrink: 0;
  font-size: var(--size-body);
}

.archives__list {
  margin-top: var(--flow-space);
}
