.layout-container__inner {
  max-width: var(--content-width);
  margin: auto;
  padding: 48px 16px 32px 16px;

  @media (--small) {
    padding: 64px 16px 48px 16px;
  }

  @media (--medium) {
    padding: 72px 16px 56px 16px;
  }
}

.content__title {
  --flow-space: 2em;
  border-bottom: 0;
  margin-bottom: var(--flow-space);
}

.content__title--condensed {
  --flow-space: .25em;
}

.content__date {
  margin-right: 2px;
  font-size: var(--size-small);
}

.content__text {
  --flow-space: 2em;
    margin-top: var(--flow-space);

  > * + * {
    margin-top: var(--flow-space);
  }

  picture {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: -1rem;
    max-width: none;

    @media (--medium) {
      width: auto;
      margin: auto;
    }

    .about & {
      @media (--medium) {
        max-width: 300px;
        margin-top: 8px;
        margin-right: 24px;
        float: left;
      }
    }
  }
}
