.layout-container__inner {
  max-inline-size: var(--content-width);
  margin: auto;
  padding-block: 2rem;
  padding-inline: 1rem;

  @media (width>= 48em) {
    padding-block: 3rem;
  }

  @media (width>= 60em) {
    padding-inline: 0;
    padding-block: 4rem;
  }
}

.content__title {
  border-block-end: 0;
  margin-block-start: 0;
}

.content__title--condensed {
  --flow-space: 0.25em;
}

.content__date {
  margin-inline-end: .125rem;
  font-size: var(--size-small);
}

.content__text {
  margin-block-start: var(--flow-space);

  > * + * {
    margin-block-start: var(--flow-space);
  }

  li {
    --flow-space: 1em;
  }

  picture {
    inline-size: calc(100% + 2rem);
    max-inline-size: none;
    margin-inline: -1rem;

    @media (width>= 48em) {
      inline-size: auto;
      margin: auto;
    }

    .about & {
      @media (width>= 48em) {
        max-inline-size: 18.75rem;
        margin-block-start: .5rem;
        margin-inline-end: 1.5rem;
        float: inline-start;
      }
    }
  }
}

.content__intro {
  margin-block-end: calc(var(--flow-space) * 2.5);
}

.content__intro p {
  font-size: var(--step-1);
  max-width: 55ch;

  &:first-child {
    margin-block-start: 0;
  }
}

.recent-posts__list {
  padding: .5rem 0 1.5rem 0;
  list-style: none;
}

.recent-posts__list-item {
  p {
    margin-block-start: 0;
  }
}

.recent-posts__title {
  font-size: var(--step-3);

  --flow-space: 1.5em;
}

.recent-posts__post-title {
  margin-block-start: 0;
}
