main {
  padding-block: var(--space-l);
  padding-inline: var(--space-s);

  @media (--medium) {
    padding-block: var(--space-xl);
    padding-inline: var(--space-m);
  }

  @media (--large) {
    padding-inline: 0;
  }

  a {
    transition: all 0.3s;
    color: var(--text-color);
    text-decoration-color: var(--secondary-link);

    &:hover {
      color: inherit;
      text-decoration-color: var(--text-color);
    }
  }
}

.content__date {
  margin-inline-end: var(--space-4xs);
  font-size: var(--size-small);
}

.content {
  /* stylelint-disable-next-line */
  margin-trim: block-end;

  :is(h1, h2, h3, blockquote) {
    --flow-space: 1.5em;
  }

  :is(h1, h2, h3) + * {
    --flow-space: 1em;
  }

  > * + * {
    margin-block-start: var(--flow-space, 1.25em);
  }
}

.content__heading-permalink {
  margin-inline-start: var(--space-2xs);
  color: transparent;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--secondary-link);
  }
}

.content__title + .content__meta {
  --flow-space: .25em;
}

.content--about {
  picture {
    inline-size: auto;
    max-inline-size: 18rem;
    margin: auto;

    @media (--medium) {
      max-inline-size: 18rem;
      margin-block-end: 0;
      margin-inline-end: 1.5rem;
      float: inline-start;
    }
  }

  img {
    border-radius: 50%;
  }
}

.content--uses {
  ul {
    padding-inline-start: 0;
  }

  li {
    list-style: none;
  }
}

.content--resume {
  h3 + p {
    --flow-space: 0.5em;
  }

  p:first-of-type {
    font-size: var(--size-large);
  }
}

.container {
  @media (--small) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-m);
  }
}

.container-inner {
  ul {
    margin: 0;
  }
}
