.content__intro {
  margin-block-end: var(--space-2xl);

  > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  h1 {
    strong:nth-of-type(1) {
      color: var(--text-highlight-5);
    }
  }

  p {
    max-inline-size: 55ch;
    font-size: var(--size-large);
  }

  strong:nth-of-type(1) {
    color: var(--text-highlight-1);
  }

  strong:nth-of-type(2) {
    color: var(--text-highlight-2);
  }

  strong:nth-of-type(3) {
    color: var(--text-highlight-3);
  }

  strong:nth-of-type(4) {
    color: var(--text-highlight-4);
  }
}
