.footer {
  padding-block: var(--space-xs);
  padding-inline: var(--space-s);
  background-color: var(--background-color);

  @media (--small) {
    padding-block: var(--space-m);
  }

  @media (--medium) {
    margin: auto;
    padding-inline: var(--space-m);
    padding-block: var(--space-l);
  }

  a {
    &:hover {
      color: var(--primary-link-dark);
    }
  }
}

.footer__content {
  margin-block-end: 0;
  font-size: var(--size-small);
}

.footer__inner {
  max-inline-size: var(--content-width);

  @media (--medium) {
    display: flex;
    justify-content: space-between;
  }

  @media (--large) {
    margin: auto;
  }
}

.footer__links {
  display: flex;
  margin-block: var(--space-2xs) 0;
  margin-inline: 0;
  padding: 0;
  list-style: none;

  @media (--medium) {
    margin: 0;
  }
}

.footer__link {
  margin: 0;
  padding: 0;
  font-size: var(--size-small);

  &:not(:last-child) {
    margin-inline-end: var(--space-2xs);
  }
}
