.footer {
  --content-padding: 24px;
  padding: var(--content-padding) 24px;
  background-color: var(--background-color);

  @media (--small) {
    --content-padding: 32px;
  }

  @media (--medium) {
    --content-padding: 48px;
  }
}

.footer__inner {
  margin: auto;
  max-width: var(--content-width);
}
