.header {
  padding-block: var(--content-padding);
  background-color: var(--background-color);

  @media (width >= 30em) {
    --content-padding: var(--space-l);

    padding-inline: var(--space-m);
  }
}

.header__inner {
  max-inline-size: var(--content-width);
  text-align: center;

  @media (width>= 48em) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (width >= 60em) {
    margin: auto;
  }
}

.header__title {
  font-family: var(--header-font-family);
  font-size: var(--size-logo);
  line-height: 1.3;
  text-transform: lowercase;
}

.header__title-link {
  color: var(--text-color);
  text-decoration: none;
}
