.header {
  padding-block: 16px;
  padding-inline: 0;
  background-color: var(--background-color);

  @media (--small) {
    --content-padding: 32px;

    padding-block: var(--content-padding);
    padding-inline: 24px;
  }
}

.header__inner {
  max-inline-size: var(--content-width);
  margin: auto;
  text-align: center;

  @media (--medium) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__title {
  font-family: var(--header-font-family);
  font-size: var(--size-logo);
  line-height: 1.3;
  text-transform: lowercase;
}

.header__title-link {
  color: var(--text-color);
  text-decoration: none;
}
