main {
  background-color: white;

  @media (--small) {
    padding-block: 0;
    padding-inline: 24px;
  }

  & a {
    transition: all 0.3s;
    box-shadow: inset 0 -0.375em 0 0 var(--secondary-link);
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;

    &:hover {
      box-shadow: inset 0 -2em 0 0 var(--secondary-link);
    }
  }
}

.heading-permalink {
  margin-inline-start: 10px;
  box-shadow: none;
  color: transparent;

  &:hover {
    box-shadow: none;
    color: var(--secondary-link);
  }
}
