.nav {
  --flow-space: 0;
  text-align: center;
  margin-top: 16px;

  @media (--medium) {
    margin-top: 0;
  }
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--medium) {
    justify-content: flex-end;
  }
}

.nav__list-item {
  margin: 0;
  padding: 0;
  display: inline-block;

  &:not(:last-child) {
    margin-right: 24px;

    @media (--small) {
      margin-right: 40px;
    }
  }

  & a {
    font-family: var(--header-font-family);

    &:hover {
      color: var(--primary-link-dark);
    }
  }
}
