.pagination {
  max-inline-size: var(--content-width);
  margin: auto;
  padding-block: var(--flow-space);
  padding-inline: 16px;

  @media (width >= 30em) {
    padding-inline: 0;
  }
}

.pagination__inner {
  display: flex;
  justify-content: space-between;
}
