@view-transition {
  navigation: auto;
}

html {
  color-scheme: light dark;
}

/* Light theme override */
[data-theme='light'] {
  color-scheme: light;
}

/* Dark theme override */
[data-theme='dark'] {
  color-scheme: dark;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--base-font-family);
  font-size: var(--size-body);
  font-weight: 400;
  line-height: 1.6;
}

hr {
  block-size: 1px;
  border: 0;
  background-color: var(--accent-color);
}

a {
  color: var(--primary-link);
  font-weight: bold;
  text-decoration-thickness: 0.25ex;
  text-underline-offset: 0.2ex;

  &:hover {
    color: var(--primary-link-hover);
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font-family);
  line-height: 1.3;
}

h2,
h3,
h4 {
  max-inline-size: 48ch;
}

h1,
.h1 {
  max-inline-size: 40ch;
  font-size: var(--size-h1);
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h3);
}

h4 {
  font-family: var(--base-font-family);
  font-size: var(--size-h4);
  font-style: italic;
  font-weight: 400;
}

small,
p:has(small) {
  font-size: var(--size-small);
  line-height: 1.7;
}

p:empty {
  display: none;
}

main {
  max-inline-size: 72ch;
  margin-inline: auto;
}

ul,
ol {
  padding-inline-start: 1em;
}

ul {
  list-style-type: square;
}

li {
  margin-block-start: var(--space-2xs);

  &::marker {
    color: var(--secondary-link);
  }
}

blockquote {
  max-inline-size: 60ch;
  padding-inline-start: var(--space-s);
  border-color: var(--accent-color);
  font-size: var(--size-body);
  font-style: italic;
  border-inline-start: var(--space-3xs) solid var(--text-color);
}

picture {
  inline-size: calc(100% + var(--space-l));
  max-inline-size: none;
  margin-inline: calc(-1 * var(--space-s));

  @media (--medium) {
    inline-size: auto;
    margin: auto;
  }
}

img {
  @media (--medium) {
    border-radius: 10px;
  }
}
