@custom-media --small (min-width: 30em);
@custom-media --medium (min-width: 48em);
@custom-media --large (min-width: 60em);

:root {
  /* Font families */
  --base-font-family: 'Roboto', 'Arial', sans-serif;
  --header-font-family: 'Lato', 'Arial', sans-serif;

  /* Basic site settings */

  --content-width: 60rem;
  --icon-size-small: 1.55rem;
  --icon-size-large: 1.75rem;

  /* 
  --green: #359046;
  --red-purple: #904b74;
  */

  /* Theme colors */
  --gray: oklch(99% 0 0deg);
  --pink: oklch(50% 0.2 6deg);
  --orange: oklch(55% 0.2 35.82deg);
  --yellow: oklch(60% 0.2 85deg);
  --yellow-green: oklch(55% 0.35 116deg);
  --blue: oklch(75% 0.2 200deg);
  --navy: oklch(40% 0.05 237.32deg);
  --indigo: oklch(40% 0.1 258.66deg);
  --purple: oklch(50% 0.2 318.57deg);

  /* Component colors */
  --link-primary: light-dark(var(--pink), oklch(from var(--pink) 70% 0.175 h));
  --link-primary-hover: light-dark(
    oklch(from var(--pink) 30% c h),
    oklch(from var(--pink) 90% c h)
  );
  --link-secondary: light-dark(var(--blue), oklch(from var(--blue) 60% c h));
  --background-color: light-dark(var(--gray), var(--navy));
  --background-color-secondary: light-dark(
    oklch(from var(--gray) 97% c h),
    oklch(from var(--navy) 30% c h)
  );
  --text-color: light-dark(var(--navy), var(--gray));
  --accent-color: light-dark(oklch(from var(--gray) 90% c h), var(--gray));
  --text-highlight-1: light-dark(
    var(--orange),
    oklch(from var(--orange) 70% 0.15 h)
  );
  --text-highlight-2: light-dark(
    var(--yellow),
    oklch(from var(--yellow) 70% c h)
  );
  --text-highlight-3: light-dark(
    var(--yellow-green),
    oklch(from var(--yellow-green) 70% c h)
  );
  --text-highlight-4: light-dark(
    var(--indigo),
    oklch(from var(--indigo) 70% c h)
  );
  --text-highlight-5: light-dark(
    var(--purple),
    oklch(from var(--purple) 70% 0.15 h)
  );

  /* Spacing */

  /* @link https://utopia.fyi/space/calculator?c=375,16,1.2,960,24,1.25,5,2,&s=0.75|0.5|0.25|0.125,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-4xs: clamp(0.125rem, 0.0849rem + 0.1709vw, 0.1875rem);
  --space-3xs: clamp(0.25rem, 0.1699rem + 0.3419vw, 0.375rem);
  --space-2xs: clamp(0.5rem, 0.3397rem + 0.6838vw, 0.75rem);
  --space-xs: clamp(0.75rem, 0.5096rem + 1.0256vw, 1.125rem);
  --space-s: clamp(1rem, 0.6795rem + 1.3675vw, 1.5rem);
  --space-m: clamp(1.5rem, 1.0192rem + 2.0513vw, 2.25rem);
  --space-l: clamp(2rem, 1.359rem + 2.735vw, 3rem);
  --space-xl: clamp(3rem, 2.0385rem + 4.1026vw, 4.5rem);
  --space-2xl: clamp(4rem, 2.7179rem + 5.4701vw, 6rem);
  --space-3xl: clamp(6rem, 4.0769rem + 8.2051vw, 9rem);

  /* Default sizes */

  /* @link https://utopia.fyi/type/calculator?c=375,16,1.125,960,24,1.125,5,2,&s=0.75,1.5,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7901rem, 0.5369rem + 1.0805vw, 1.1852rem);
  --step--1: clamp(0.8889rem, 0.604rem + 1.2156vw, 1.3333rem);
  --step-0: clamp(1rem, 0.6795rem + 1.3675vw, 1.5rem);
  --step-1: clamp(1.125rem, 0.7644rem + 1.5385vw, 1.6875rem);
  --step-2: clamp(1.2656rem, 0.86rem + 1.7308vw, 1.8984rem);
  --step-3: clamp(1.4238rem, 0.9675rem + 1.9471vw, 2.1357rem);
  --step-4: clamp(1.6018rem, 1.0884rem + 2.1905vw, 2.4027rem);
  --step-5: clamp(1.802rem, 1.2245rem + 2.4643vw, 2.703rem);

  /* Site specific sizes */
  --size-logo: var(--step-2);
  --size-h1: var(--step-5);
  --size-h2: var(--step-4);
  --size-h3: var(--step-2);
  --size-h4: var(--step-1);
  --size-body: var(--step-0);
  --size-small: var(--step--1);
  --size-large: var(--step-1);
}
