@custom-media --small (min-width: 30em);
@custom-media --medium (min-width: 48em);
@custom-media --large (min-width: 60em);

:root {
  /* color-scheme: light dark; */

  /* Font families */
  --base-font-family: 'Roboto', sans-serif;
  --header-font-family: 'Lato', sans-serif;

  /* Basic site settings */
  --content-width: 55rem; /* 880px */
  --icon-size-small: 1.55rem;
  --icon-size-large: 1.75rem;

  /* Colors */

  /* 
  --green: #359046;
  --red-purple: #904b74; 
  */

  --gray-99: oklch(99% 0 0deg);
  --gray-97: oklch(97% 0 0deg);
  --gray-90: oklch(90% 0 0deg);
  --pink-95: oklch(95% 0.15 5.87deg);
  --pink-80: oklch(80% 0.15 5.87deg);
  --pink-70: oklch(70% 0.15 5.87deg);
  --pink-50: oklch(50% 0.15 5.87deg);
  --pink-40: oklch(40% 0.15 5.87deg);
  --pink-20: oklch(20% 0.15 5.87deg);
  --orange-65: oklch(65% 0.15 35.82deg);
  --orange-55: oklch(55% 0.15 35.82deg);
  --yellow-65: oklch(65% 0.15 74.1deg);
  --yellow-55: oklch(55% 0.15 74.1deg);
  --yellow-green-65: oklch(65% 0.15 115.94deg);
  --yellow-green-55: oklch(55% 0.15 115.94deg);
  --blue-90: oklch(90% 0.11 210deg);
  --blue-80: oklch(80% 0.11 210deg);
  --blue-60: oklch(60% 0.11 210deg);
  --purple-65: oklch(65% 0.11 318.57deg);
  --purple-50: oklch(50% 0.11 318.57deg);
  --indigo-65: oklch(65% 0.05 258.66deg);
  --indigo-40: oklch(40% 0.05 258.66deg);
  --navy-40: oklch(40% 0.05 237.32deg);
  --navy-30: oklch(30% 0.05 237.32deg);
  --primary-link: light-dark(var(--pink-50), var(--pink-70));
  --primary-link-hover: light-dark(var(--pink-20), var(--pink-95));
  --secondary-link: light-dark(var(--blue-80), var(--blue-60));
  --background-color: light-dark(var(--gray-99), var(--navy-40));
  --background-color-secondary: light-dark(var(--gray-97), var(--navy-30));
  --accent-color: light-dark(var(--gray-90), var(--gray-90));
  --text-color: light-dark(var(--navy-40), var(--gray-97));
  --text-highlight-1: light-dark(var(--orange-55), var(--orange-65));
  --text-highlight-2: light-dark(var(--yellow-55), var(--yellow-65));
  --text-highlight-3: light-dark(
    var(--yellow-green-55),
    var(--yellow-green-65)
  );
  --text-highlight-4: light-dark(var(--indigo-40), var(--indigo-65));
  --text-highlight-5: light-dark(var(--purple-50), var(--purple-65));

  /* Spacing */

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,880,20,1.25,5,2,&s=0.75|0.5|0.25|0.125,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-4xs: clamp(0.125rem, 0.0893rem + 0.1786vw, 0.1875rem);
  --space-3xs: clamp(0.25rem, 0.2143rem + 0.1786vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4286rem + 0.3571vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6429rem + 0.5357vw, 0.9375rem);
  --space-s: clamp(1rem, 0.8571rem + 0.7143vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.2857rem + 1.0714vw, 1.875rem);
  --space-l: clamp(2rem, 1.7143rem + 1.4286vw, 2.5rem);
  --space-xl: clamp(3rem, 2.5714rem + 2.1429vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.4286rem + 2.8571vw, 5rem);
  --space-3xl: clamp(6rem, 5.1429rem + 4.2857vw, 7.5rem);

  /* Default sizes */

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.25,880,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--2: clamp(0.64rem, 0.5486rem + 0.4571vw, 0.8rem);
  --step--1: clamp(0.8rem, 0.6857rem + 0.5714vw, 1rem);
  --step-0: clamp(1rem, 0.8571rem + 0.7143vw, 1.25rem);
  --step-1: clamp(1.25rem, 1.0714rem + 0.8929vw, 1.5625rem);
  --step-2: clamp(1.5625rem, 1.3393rem + 1.1161vw, 1.9531rem);
  --step-3: clamp(1.9531rem, 1.6741rem + 1.3951vw, 2.4414rem);
  --step-4: clamp(2.4414rem, 2.0926rem + 1.7439vw, 3.0518rem);
  --step-5: clamp(3.0518rem, 2.6158rem + 2.1798vw, 3.8147rem);

  /* Site specific sizes */
  --size-logo: var(--step-2);
  --size-h1: var(--step-3);
  --size-h2: var(--step-2);
  --size-h3: var(--step-1);
  --size-h4: var(--step-0);
  --size-body: var(--step-0);
  --size-small: var(--step--1);
  --size-large: var(--step-1);
}
