.post-listing {
  padding-inline-start: 0;
}

.post-listing__item {
  list-style-type: none;

  &:not(:last-child) {
    margin-block-end: calc(var(--flow-space) * 3.5);
  }
}

.post-listing__date {
  display: inline-block;
  margin-block-end: calc(var(--flow-space) * 0.25);
  font-size: var(--size-small);
}
