footer {
  padding-block: var(--space-xs);
  padding-inline: var(--space-s);
  background-color: var(--background-color-secondary);

  @media (--small) {
    padding-block: var(--space-m);
  }

  @media (--medium) {
    margin: auto;
    padding-block: var(--space-l);
    padding-inline: var(--space-m);
  }

  div {
    max-inline-size: var(--content-width);

    @media (--medium) {
      display: flex;
      justify-content: space-between;
    }

    @media (--large) {
      margin: auto;
    }
  }

  p {
    margin-block-end: 0;
    font-size: var(--size-small);
  }
}

[aria-labelledby='nav-footer'] {
  ul {
    display: flex;
    margin-block: var(--space-2xs) 0;
    margin-inline: 0;
    padding: 0;
    list-style: none;

    @media (--medium) {
      margin: 0;
    }
  }

  li {
    margin: 0;
    padding: 0;
    font-size: var(--size-small);

    &:not(:last-child) {
      margin-inline-end: var(--space-2xs);
    }
  }
}
