[aria-labelledby='nav-main'] {
  ul {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-inline-end: var(--space-s);

      @media (--small) {
        margin-inline-end: var(--space-m);
      }
    }

    & a {
      font-family: var(--header-font-family);
    }
  }
}

[data-theme-toggle] {
  display: inline-block;
  block-size: var(--icon-size-small);
  inline-size: var(--icon-size-small);
  margin-inline-start: var(--space-s);
  padding: 0;
  border: 0;
  background: transparent;
  vertical-align: middle;
  cursor: pointer;
  appearance: none;

  @media (--small) {
    block-size: var(--icon-size-large);
    inline-size: var(--icon-size-large);
    margin-inline-start: var(--space-m);
  }

  &:focus-visible {
    border-radius: 2px;
    outline: solid 3px var(--primary-link);
    outline-offset: 4px;
  }
}

.theme-icon {
  block-size: var(--icon-size-small);
  inline-size: var(--icon-size-small);
  fill: var(--primary-link);

  @media (--small) {
    block-size: var(--icon-size-large);
    inline-size: var(--icon-size-large);
  }

  &:hover {
    fill: var(--primary-link-hover);
  }
}

.theme-icon__light {
  [data-theme='light'] & {
    display: none;
  }
}

.theme-icon__dark {
  [data-theme='dark'] & {
    display: none;
  }
}
