{% for year, posts in postListItems | groupby("data.year") | dictsort | reverse %}

  <section class="archives-list">
    <h2>{{ year }} </h2>
      <ul class="archives-list__list">
      {% for post in posts %}
        <li class="archives-list__item">
          <time class="archives-list__date" datetime="{{ post.date | htmlDateFilter }}">{{ post.date | archiveDate }}</time>
          <p><a href="{{ post.url }}">{{ post.data.title }}</a></p>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
