<footer role="contentinfo" class="footer">
  <div class="footer__inner">
    <p class="footer__content">
      <strong>&copy; 2000–{% year %} {{ site.name }}.</strong> Powered by <a href="https://www.11ty.dev/">11ty</a>.
    </p>
    <ul class="footer-icon">
      <li class="footer-icon__icon footer-icon__icon--mastodon">
        <a href="https://labyrinth.social/@starshaped" rel="me">
          <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><title>Mastodon</title><rect width="256" height="256" fill="none"/><path d="M160,224H72a32,32,0,0,1-32-32V72A32,32,0,0,1,72,40H184a32,32,0,0,1,32,32v72a32,32,0,0,1-32,32H40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/><path d="M128,136V104a24,24,0,0,0-48,0v32" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/><path d="M176,136V104a24,24,0,0,0-48,0" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/></svg>
        </a>
      </li>
      <li class="footer-icon__icon footer-icon__icon--rss">
        <a href="/feed.xml">
          <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><title>RSS</title><rect width="256" height="256" fill="none"/><path d="M56,136a64,64,0,0,1,64,64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/><path d="M56,88A112,112,0,0,1,168,200" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/><path d="M56,40A160,160,0,0,1,216,200" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"/><circle fill="currentColor" cx="60" cy="196" r="16"/></svg>
        </a>
      </li>
    </ul>
  </div>
</footer>

