<footer class="footer">
  <div class="footer__inner">
    <p class="footer__content">
      <strong>&copy; 2000–{% year %} {{ site.name }}.</strong> Powered by <a href="https://www.11ty.dev/">11ty</a>.
    </p>
    <ul class="footer__links">
      <li class="footer__link">
        <a href="https://labyrinth.social/@starshaped" rel="me">Mastodon</a>
      </li>
      <li class="footer__link">
        <a href="https://www.linkedin.com/in/aubreysambor">LinkedIn</a>
      </li>
      <li class="footer__link">
        <a href="/feed.xml">RSS</a>
      </li>
    </ul>
  </div>
</footer>

