{% block meta %}
{% set pageTitle = title + ' | ' + site.name %}
{% set pageDesc = site.description %}
{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}
{% set featuredImage = post.data.featuredImage %}

{% if summary %}
  {% set pageDesc = summary %}
{% endif %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌟</text></svg>" />

<meta name="generator" content="Eleventy">

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

<meta name="description" content="{{ pageDesc }}" />
<meta property="og:description" content="{{ pageDesc }}" />

{% if featuredImage %}  
  <meta property="og:image" content="https://aubreysambor.com/images/{{ featuredImage }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
{% endif %}
{% endblock %}
