<nav aria-labelledby="nav-{{ navType.name }}">
  <span id="nav-{{ navType.name }}" class="visually-hidden">{{ navType.name|capitalize }}</span>
  <ul>
    {% for item in navType.items %}
      {% set navigationAttributes = '' %}

      {% if item.attributes %}
        {% for key, attribute in item.attributes %}
          {% set navigationAttributes = navigationAttributes.concat(" " ~ key ~ " = " ~ attribute) %}
        {% endfor %}
      {% endif %}

      {% if page.url == item.url %}
        {% set navigationAttributes = navigationAttributes.concat(' aria-current="page"') %}
      {% endif %}

      <li>
        <a href="{{ item.url }}"{{ navigationAttributes | safe }}>{{ item.text }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
