{% if not postListItems.length %}
  {% set postListItems = collections.all | reverse %}
{% endif %}

<ul class="post-listing">
  {%- for post in postListItems -%}
    <li class="post-listing__item">
      <h2 class="post-listing__title">
        <a class="post-listing__link" href="{{ post.url }}" rel="bookmark">{{ post.data.title }}</a>
      </h2>
      <time class="post-listing__date" datetime="{{ post.date | htmlDateFilter }}">{{ post.date | postDate }}</time>
      <p class="post-listing__summary">
        {% if post.data.summary %}
          {{ post.data.summary }}
        {% else %}
          {{ post.content | truncatePost }}
        {% endif %}
      </p>
    </li>
  {%- endfor -%}
</ul>
