<footer role="contentinfo" class="footer">
  <div class="footer__inner">
    <section class="footer__start">
      <p class="footer__content">
        <strong>&copy; 2000–2021 {{ site.name }}.</strong> Powered by <a href="https://www.11ty.dev/">Eleventy</a>.
      </p>
    </section>
    <section class="footer__end">
      <p class="footer__content">
        <a class="footer__social-media" href="//twitter.com/starshaped">
          <svg class="icon icon--twitter" role="img" aria-label="Follow me on Twitter" width="24" height="24" focusable="false">
            <use href="../../images/social-media-icons.svg#twitter" aria-hidden="true"></use>
            <span class="visually-hidden">Follow me on Twitter</span>
          </svg>
        </a>
        <a class="footer__social-media" href="//github.com/starshaped">
          <svg class="icon icon--github" role="img" aria-label="Follow me on GitHub" width="24" height="24" focusable="false">
            <use href="../../images/social-media-icons.svg#github" aria-hidden="true"></use>
            <span class="visually-hidden">Follow me on GitHub</span>
          </svg>
        </a>
      </p>
    </section>
  </div>
</footer>

