{{ set navType = nav.navMain }}

<a class="skip-link" href="#main-content">Skip to content</a>

<header>
  <div>
    <div class="logo">
      <a href="/" {{ page.url=='/' ? 'aria-current=page' : '' }}>
        {{ site.name }}
      </a>
    </div>
    <div class="navigation">
      {{ include "components/navigation.vto" }}
      <button data-theme-toggle>
        <svg class="theme-icon aria-hidden="true" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
          <use href="/assets/images/icons.svg#light" />
        </svg>
      </button>
    </div>
  </div>
</header>
