{
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "es6": true
  }
}
