a {
  color: var(--primary-link);
  text-decoration-thickness: 0.175rem;
  text-underline-offset: 0.25rem;
  transition: all 0.3s;
  padding: 0 0.5rem;

  &:hover {
    background-color: var(--primary-link-hover);
  }
}

main {
  background-color: var(--background-color);

  @include media('>small') {
    @include content-padding;
  }
}

.content {
  @extend %content-padding-inner;

  &__meta {
    margin-top: calc(var(--flow-space) * 0.25);
    margin-bottom: var(--flow-space);
  }

  &__date {
    margin-right: 0.4rem;
    font-size: 1.6rem;

    @include media('>small') {
      font-size: 1.7rem;
    }

    @include media('>medium') {
      font-size: 1.8rem;
    }
  }

  &__body {
    & > * + * {
      margin-top: var(--flow-space);
    }

    ul,
    ol {
      --flow-space: 3rem;
      & > * + * {
        margin-top: var(--flow-space);
      }
    }

    ol {
      list-style-type: decimal;
    }

    ul {
      list-style-type: square;
    }

    figure {
      margin: 0 0 2.8rem 0;
    }

    figcaption {
      text-align: center;
      margin-top: 0.8rem;
      font-size: 1.4rem;
      line-height: 1.5;

      @include media('>=small') {
        font-size: 1.5rem;
      }

      @include media('>=medium') {
        font-size: 1.6rem;
      }
    }

    blockquote {
      margin-left: 50px;
      padding-left: 15px;
      border-left: 3px solid var(--text-color);
    }

    hr {
      border: 0;
      height: 0.4rem;
      background-color: var(--accent-color);
      border-radius: 0.4rem;
      margin: 3.2rem auto;
    }
  }
}
