.footer {
  @include content-padding(2.4rem);
  background-color: white;

  @include media('>small') {
    @include content-padding(3.2rem);
  }

  @include media('>medium') {
    @include content-padding(4.8rem);
  }

  a {
    color: var(--primary-link);
  }

  &__inner {
    margin: auto;
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media('>small') {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__end {
    @include media('<=small') {
      margin-top: 0.8rem;
    }
  }
}
