.header {
  background: white;
  padding: 1.6rem 0;
  
  @include media('>small') {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  &__inner {
    max-width: var(--content-width);
    margin: auto;
    text-align: center;
  
    @include media('>small') {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    font-family: var(--logo-font-family);
    font-weight: 700;
    text-transform: lowercase;
    font-size: 5.6rem;

    @include media('>medium') {
      font-size: 6.4rem;
    }
  }

  &__title-link {
    color: var(--text-color);
    text-decoration: none;
  }
}
