.header {
  background: white;
  padding: 1rem 0;

  @include media('>small') {
    @include content-padding(1rem);
  }

  &__inner {
    max-width: var(--content-width);
    margin: auto;
    text-align: center;

    @include media('>medium') {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    font-family: var(--logo-font-family);
    font-weight: 700;
    text-transform: lowercase;
    font-size: var(--step-4);
    margin-bottom: 0.5rem;
  }

  &__title-link {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      background-color: transparent;
    }
  }
}
