.nav {
  text-align: center;

  &__list {
    --flow-space: 0;
  }

  &__list-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;

      @include media('>small') {
        margin-right: 1.875rem;
      }

      @include media('>medium') {
        margin-right: 2.625rem;
      }
    }
  }
}
