html {
  font-family: var(--base-font-family);
  font-weight: 400;
  color: var(--text-color);
}

hr {
  border: 0;
  height: 0.25rem;
  background-color: var(--accent-color);
  border-radius: 0.25rem;
}

a {
  color: var(--primary-link);
  font-weight: bold;
  text-decoration: none;
}

:is(header, footer) a:not([class]) {
  position: relative;
  padding-bottom: 0.125rem;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-link);
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover {
    &::before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

h1,
h2,
h3 {
  font-family: var(--header-font-family);
}

h1,
%h1 {
  font-size: 2.25rem;

  @include media('>small') {
    font-size: 2.5rem;
  }

  @include media('>medium') {
    font-size: 2.625rem;
  }
}

h2 {
  font-size: 1.875rem;

  @include media('>small') {
    font-size: 2rem;
  }

  @include media('>medium') {
    font-size: 2.125rem;
  }
}

h3 {
  font-size: 1.75rem;

  @include media('>small') {
    font-size: 1.875rem;
  }

  @include media('>medium') {
    font-size: 2rem;
  }
}

p,
li {
  font-size: 1.125rem;
  line-height: 1.825;

  @include media('>small') {
    font-size: 1.1875rem;
  }

  @include media('>medium') {
    font-size: 1.25rem;
  }
}

ul,
ol {
  --flow-space: 1.875rem;
  & > * + * {
    margin-top: var(--flow-space);
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

figure {
  margin: 0 0 1.75rem 0;
}

figcaption {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;

  @include media('>=small') {
    font-size: 0.9375rem;
  }

  @include media('>=medium') {
    font-size: 1rem;
  }
}

blockquote {
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid var(--text-color);
}
