// Mixins.
@mixin content-padding($padding-vertical: 0) {
  padding: $padding-vertical 24px;
}

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @media screen and (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Unknown `#{$breakpoint}` in $breakpoints";
  }
}

// Placeholders.
%content-padding-inner {
  max-width: var(--content-width);
  margin: auto;
  padding: 32px 16px;

  @include breakpoint('small') {
    padding: 48px 0;
  }

  @include breakpoint('medium') {
    padding: 56px 0;
  }
}

// Accessibility fun!
.skip-link {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: var(--text-color);
  color: var(--accent-color);
  line-height: 1;
  text-decoration: none;
  font-weight: 700;
  font-size: var(--size-body);
  transform: translateY(-100%);

  &:focus {
    transform: translateY(0%);
  }
}

// General shit that doesn't belong anywhere else.
.heading-permalink {
  margin-left: 10px;
  box-shadow: none;
  color: transparent;

  &:hover {
    box-shadow: none;
    color: var(--primary-link);
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

img[src$='about-aubrey.jpg'] {
  max-width: 300px;

  @include breakpoint('medium') {
    margin-top: 8px;
    margin-right: 24px;
    float: left;
  }
}
