:root {
  // Font families
  --base-font-family: 'Roboto', sans-serif;
  --header-font-family: 'Lato', sans-serif;

  // Basic site settings
  --content-width: 800px;

  // Colors
  --primary-link-base: 344;
  --primary-link: #bc526e;
  --primary-link-hover: hsla(var(--primary-link-base), 56%, 46%, 100%);
  --background-color: #f9f9f9;
  --text-color: #333;
  --accent-color: #eee;
  --secondary-link: #70d7d0;

  // Spacing
  --flow-space: 2.1875em;

  // Fonts
  --size-h2: clamp(24px, 12px + 2.5vw, 32px);
}

// Media query breakpoints
$breakpoints: (
  'small': 30em,
  'medium': 48em,
  'large': 64em,
) !default;
