:root {
  // Font families
  --base-font-family: 'Roboto', sans-serif;
  --header-font-family: 'Lato', sans-serif;

  // Basic site settings
  --content-width: 800px;

  // Colors
  --primary-link-base: 344;
  --primary-link: #bc526e;
  --primary-link-hover: hsla(var(--primary-link-base), 56%, 46%, 100%);
  --background-color: #f9f9f9;
  --text-color: #333;
  --accent-color: #eee;
  --secondary-link: #70d7d0;

  // Spacing
  --flow-space: 2.25em;

  --step--2: clamp(0.65rem, calc(0.50rem + 0.76vw), 0.88rem);
  --step--1: clamp(0.78rem, calc(0.57rem + 1.06vw), 1.10rem);
  --step-0: clamp(0.94rem, calc(0.65rem + 1.46vw), 1.38rem);
  --step-1: clamp(1.13rem, calc(0.73rem + 1.98vw), 1.72rem);
  --step-2: clamp(1.35rem, calc(0.82rem + 2.66vw), 2.15rem);
  --step-3: clamp(1.62rem, calc(0.91rem + 3.55vw), 2.69rem);
  --step-4: clamp(1.94rem, calc(1.00rem + 4.71vw), 3.36rem);
  --step-5: clamp(2.33rem, calc(1.09rem + 6.21vw), 4.20rem);

  --space-3xs: clamp(0.25rem, calc(0.17rem + 0.42vw), 0.38rem);
  --space-2xs: clamp(0.50rem, calc(0.38rem + 0.63vw), 0.69rem);
  --space-xs: clamp(0.75rem, calc(0.54rem + 1.04vw), 1.06rem);
  --space-s: clamp(1.00rem, calc(0.75rem + 1.25vw), 1.38rem);
  --space-m: clamp(1.50rem, calc(1.13rem + 1.88vw), 2.06rem);
  --space-l: clamp(2.00rem, calc(1.50rem + 2.50vw), 2.75rem);
  --space-xl: clamp(3.00rem, calc(2.25rem + 3.75vw), 4.13rem);
  --space-2xl: clamp(4.00rem, calc(3.00rem + 5.00vw), 5.50rem);
  --space-3xl: clamp(6.00rem, calc(4.50rem + 7.50vw), 8.25rem);
  
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(-0.04rem + 1.46vw), 0.69rem);
  --space-2xs-xs: clamp(0.50rem, calc(0.13rem + 1.88vw), 1.06rem);
  --space-xs-s: clamp(0.75rem, calc(0.33rem + 2.08vw), 1.38rem);
  --space-s-m: clamp(1.00rem, calc(0.29rem + 3.54vw), 2.06rem);
  --space-m-l: clamp(1.50rem, calc(0.67rem + 4.17vw), 2.75rem);
  --space-l-xl: clamp(2.00rem, calc(0.58rem + 7.08vw), 4.13rem);
  --space-xl-2xl: clamp(3.00rem, calc(1.33rem + 8.33vw), 5.50rem);
  --space-2xl-3xl: clamp(4.00rem, calc(1.17rem + 14.17vw), 8.25rem);

  --size-logo: var(--step-2);
  --size-h1: var(--step-3);
  --size-h2: var(--step-2);
  --size-h3: var(--step-1);
  --size-body: var(--step-0);
  --size-small: var(--step--1);

  --content-padding: 0;
}

// Media query breakpoints
$breakpoints: (
  'small': 30em,
  'medium': 48em,
  'large': 64em,
) !default;
