{% set pageTitle = title + ' | ' + site.name %}
{% set pageDesc = site.description %}
{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}

{% if summary %}
  {% set pageDesc = summary %}
{% endif %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if site.authorHandle %}
  <meta name="twitter:creator" content="@{{ site.authorHandle | replace('@', '') }}" />
{% endif %}

<meta name="description" content="{{ pageDesc }}" />
<meta name="twitter:description" content="{{ pageDesc }}" />
<meta property="og:description" content="{{ pageDesc }}" />

{% if featuredImage %}  
  <meta property="og:image" content="{{ featuredImage }}" />
  <meta name="twitter:image" content="{{ featuredImage }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %}
