<footer role="contentinfo" class="footer">
  <div class="footer__inner">
    <section class="footer__start">
      <p class="footer__content">
        <strong>&copy; 2000 - 2020 {{ site.name }}.</strong> Powered by <a href="https://www.11ty.io/">Eleventy</a>.
      </p>
    </section>
    <section class="footer__end">
      <p class="footer__content">
        <a href="//twitter.com/starshaped">Twitter</a>
      </p>
    </section>
  </div>
</footer>
