{% extends './base.njk' %}

{% set postListItems = collections.feed %}

{% block content %}
  <article class="content archives">
    <h1 class="content__title">Archives</h1>

    {% include "archives-list.njk" %}
  </article>
{% endblock %}
