<!DOCTYPE html>
<html lang="en">
  {{ include "meta.vto" }}
  <body>
    {{ include "header.vto" }}
    <main id="main-content">
      {{ content }}
    </main>
    {{ include "footer.vto" }}
    <script src="/js/scripts.js"></script>
    <script data-goatcounter="https://aubreysambor.goatcounter.com/count"
        async src="https://gc.zgo.at/count.js"></script>
  </body>
</html>
