{% extends './base.njk' %}

{% block content %}
    <article class="content">
      <h1 class="content__title content__title--condensed">{{ title }}</h1>

      <div class="content__meta">
        {% if date %}
          <time datetime="{{ date | postDate }}" class="content__date">{{ date | postDate }}</time>
        {% endif %}

        {% if tags %}
          <p class="tags">Tagged with 
            {% for tag in tags %}
              <a class="tags__tag-link" href="/tags/{{ tag | slugify }}">{{ tag }}</a>
            {% endfor %}
          </p>
        {% endif %}
      </div>
      <div class="content__text">
        {{ content | safe }}
      </div>
    </article>
{% endblock %}
