{% extends 'layouts/base.njk' %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <div class="post-listing">
      <p class="bio homepage__bio">
        My name is <b>Aubrey</b> and I love knitting, tea, and web development. I code during the day and make my own yarn, write in my journal, and cook tasty food in the evenings.
      </p>

      <h2 class="post-listing__heading">{{ postsHeading }}</h2>

      <ul class="post-listing__list">
        {%- for post in collections.homepagePosts -%}
          <li class="post-listing__item">
            <h3 class="post-listing__title">
              <a href="{{ post.url }}" rel="bookmark">{{ post.data.title }}</a>
            </h3>
            <time class="post-listing__date" datetime="{{ post.date | htmlDateFilter }}">{{ post.date | formattedDateFilter }}</time>
          </li>
        {%- endfor -%}
      </ul>

      <p class="post-listing__see-all-link">
        <a href="/archives">
          See all posts
          <span aria-hidden="true">→</span>
        </a>
      </p>
    </div>
  </main>
{% endblock %}

