{% extends 'layouts/base.njk' %}

{% set introSummary %}
  {{ content | safe }}
{% endset %}

{% set postListItems = collections.homepagePosts %}

{% block content %}
  <main tabindex="-1">
    <div class="content">

      {% include "components/intro.njk" %}

      <hr />

      <div class="content__recent" id="main-content">

        <h2 class="content__title">{{ postsHeading }}</h2>

        {% include "components/post-listing.njk" %}

        <p class="content__see-all">
          <a href="/archives">
          See all posts
          <span aria-hidden="true">→</span>
        </a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}

