{% extends 'layouts/base.njk' %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="content">
      <h1 class="content__title">{{ title }}</h1>

      <div class="content__meta">
        {% if date %}
          <time datetime="{{ date | htmlDateFilter }}" class="content__date">{{ date | formattedDateFilter }}</time>
        {% endif %}

        {% if tags %}
          <ul class="tags">
            {% for tag in tags %}
              <li class="tags__tag">
                <a class="tags__tag-link" href="/tags/{{ tag | slug }}">{{ tag }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="content__body">
      {{ content | safe }}
      </div>
    </article>
  </main>
{% endblock %}
