/* Lato regular */
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src:
    url('./lato-regular-webfont.woff2') format('woff2'),
    url('./lato-regular-webfont.woff') format('woff');
}

/* Lato bold */
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src:
    url('./lato-bold-webfont.woff2') format('woff2'),
    url('./lato-bold-webfont.woff') format('woff');
}

/* Roboto regular */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src:
    url('roboto-regular-webfont.woff2') format('woff2'),
    url('roboto-regular-webfont.woff') format('woff');
}

/* Roboto italic */
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src:
    url('roboto-italic-webfont.woff2') format('woff2'),
    url('roboto-italic-webfont.woff') format('woff');
}

/* Roboto bold */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src:
    url('roboto-bold-webfont.woff2') format('woff2'),
    url('roboto-bold-webfont.woff') format('woff');
}

/* Roboto bold italic */
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src:
    url('roboto-bolditalic-webfont.woff2') format('woff2'),
    url('roboto-bolditalic-webfont.woff') format('woff');
}
