---
eleventyComputed:
  title: 'Tagged: {{ tag }}'
eleventyExcludeFromCollections: true
layout: page.vto
pagination:
  data: collections.tagsList
  size: 1
  alias: tag
permalink: /tags/{{ tag |> slugify }}/
---
{{ set postListItems = collections[tag] }}

{{ include "components/archives-list.vto" }}
