main {
  padding-block: var(--space-l);
  padding-inline: var(--space-s);

  @media (--medium) {
    padding-block: var(--space-2xl);
    padding-inline: var(--space-m);
  }

  @media (--large) {
    padding-inline: 0;
  }

  a {
    transition: all 0.3s;
    color: var(--text-color);
    text-decoration-color: var(--secondary-link);

    &:hover {
      color: inherit;
      text-decoration-color: var(--text-color);
    }

    &:focus-visible {
      outline-color: var(--secondary-link);
    }
  }
}

article {
  /* stylelint-disable-next-line */
  margin-trim: block-end;

  :is(h1, h2, h3, blockquote) {
    --flow-space: 1.75em;
  }

  :is(h1, h2, h3) + * {
    --flow-space: 1em;
  }

  > * + * {
    margin-block-start: var(--flow-space, 1.75em);
  }

  time {
    margin-inline-end: var(--space-4xs);
    font-size: var(--size-small);

    + p {
      display: inline-block;
      font-size: var(--size-small);

      &::before {
        content: '·';
        display: inline-block;
        margin-inline-end: var(--space-4xs);
      }
    }
  }

  h1 + div {
    --flow-space: 0.25em;
  }
}

.uses {
  ul {
    padding-inline-start: 0;
  }

  li {
    list-style: none;
  }
}

.resume {
  h3 + p {
    --flow-space: 0.5em;
  }

  p:first-of-type {
    font-size: var(--size-large);
  }
}

.container-grid {
  @media (--small) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-m);
  }
}

.container-grid-inner {
  /* stylelint-disable-next-line */
  margin-trim: block-end;
}
