main {
  padding-block: var(--space-l);
  padding-inline: var(--space-s);

  @media (--medium) {
    padding-block: var(--space-2xl);
    padding-inline: var(--space-m);
  }

  @media (--large) {
    padding-inline: 0;
  }

  a {
    color: var(--text-color);
    text-decoration-color: var(--link-secondary);

    &:hover {
      color: inherit;
      text-decoration-color: var(--text-color);
    }

    &:focus-visible {
      outline-color: var(--link-secondary);
    }
  }
}

article {
  /* stylelint-disable-next-line */
  margin-trim: block-end;

  :is(h1, h2, h3, blockquote) {
    --flow-space: 1.75em;
  }

  :is(h1, h2, h3) + * {
    --flow-space: 1em;
  }

  > * + * {
    margin-block-start: var(--flow-space, 1.75em);
  }

  time {
    margin-inline-end: var(--space-4xs);
    font-size: var(--size-small);

    + p {
      display: inline-block;
      font-size: var(--size-small);

      &::before {
        content: '·';
        display: inline-block;
        margin-inline-end: var(--space-4xs);
      }
    }
  }

  h1 + div {
    --flow-space: 0.25em;
  }
}

.uses {
  ul {
    padding-inline-start: 0;
  }

  li {
    list-style: none;
  }
}

.resume {
  h3 + p {
    margin-block-start: var(--space-2xs);
  }

  p:first-of-type {
    font-size: var(--size-large);
  }

  h2:first-of-type + ul {
    columns: 1;

    @media (--small) {
      columns: 2;
    }
  }
}
