.recent-posts__list {
  padding: 0;
  list-style: none;
}

.recent-posts__list-item {
  margin-block-end: var(--space-m);

  p {
    margin-block-end: 0;
  }
}

.recent-posts__title {
  font-size: var(--step-3);
}

.recent-posts__post-title {
  margin-block-end: 0;
}
