.post-listing {
  padding-left: 0;
}

.post-listing__item {
  list-style-type: none;

  &:not(:last-child) {
    margin-bottom: calc(var(--flow-space) * 1.25);
  }
}

.post-listing__date {
  // small text for dates and tags
  font-size: clamp(0.9rem, 0.75rem + 0.5vw, 1rem);
  display: inline-block;
  margin-bottom: calc(var(--flow-space) * 0.25);
}
