.tags {
  display: inline-block;

  margin-right: 0.5rem;
  // font-size: var(--step--05);
  font-size: 17px;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: '·';
    display: inline-block;
    margin-right: 0.25rem;
  }
}
