{{ set navType = nav.navFooter }}

<footer>
  <div>
    <p>
      <strong>&copy; 2000–{{ currentYear }} {{ site.name }}.</strong> Powered by <a href="https://www.11ty.dev/">11ty</a>.
    </p>
    {{ include "nav.vto" }}
  </div>
</footer>
