.post-listing {
  &__item {
    &:not(:last-child) {
      margin-bottom: calc(var(--flow-space) * 1.25);
    }
  }

  &__title {
    font-family: var(--base-font-family);
    line-height: 1.5;
    font-weight: normal;
    font-size: var(--step-1);
    font-weight: 600;
  }

  &__date {
    font-size: var(--step--05);
    display: inline-block;
    margin-bottom: calc(var(--flow-space) * 0.25);
  }
}
