.tags {
  display: inline-block;

  margin-right: 0.8rem;
  font-size: 1.5rem;

  @include media('>small') {
    font-size: 1.6rem;
  }

  @include media('>medium') {
    font-size: 1.7rem;
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: '·';
    display: inline-block;
    margin-right: 0.4rem;
  }
}
