.tags {
  display: inline-block;

  margin-right: 0.5rem;
  font-size: 0.9375rem;

  @include media('>small') {
    font-size: 1rem;
  }

  @include media('>medium') {
    font-size: 1.0625rem;
  }

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: '·';
    display: inline-block;
    margin-right: 0.25rem;
  }
}
