{% if not postListItems.length %}
  {% set postListItems = collections.all | reverse %}
{% endif %}

{% if postListHeading %}
  <h1 class="posts-list__title">{{ postListHeading }}</h1>
{% endif %}

<ul class="posts">
  {%- for post in postListItems -%}
    <li class="posts__item">
      <h2 class="posts__title">
        <a href="{{ post.url }}" rel="bookmark">{{ post.data.title }}</a>
      </h2>
      <time class="posts__date" datetime="{{ post.date | htmlDateFilter }}">{{ post.date | formattedDateFilter }}</time>
    </li>
  {%- endfor -%}
</ul>
