.content {
  @extend %content-padding-inner;

  &:not(:only-child) {
    border-bottom: solid 8px var(--accent-color);
  }
}

.content > * + * {
  margin-top: var(--flow-space, 1em);
}

.content__meta {
  --flow-space: 1em;
}

.content__date {
  margin-right: 2px;
  font-size: var(--size-small);
}
