.content {
  @extend %content-padding-inner;

  &:not(:only-child) {
    border-bottom: solid 8px var(--accent-color);
  }
}

.content__title {
  margin-bottom: calc(var(--flow-space) * 0.375);

  &--condensed {
    margin-bottom: calc(var(--flow-space) * 0.0625);
  }
}

.content__meta {
  margin-bottom: var(--flow-space);
}

.content__date {
  margin-right: 2px;
  font-size: var(--size-small);
}

.content__body {
  & > * + * {
    margin-top: var(--flow-space);
  }
}
