.content {
  max-width: var(--content-width);
  margin: auto;
  padding: 48px 16px 32px 16px;

  @include breakpoint('small') {
    padding: 64px 0 48px 0;
  }

  @include breakpoint('medium') {
    padding: 72px 0 56px 0;
  }

  &:not(:only-child) {
    border-bottom: solid 8px var(--accent-color);
  }
}

.content > * + * {
  margin-top: var(--flow-space, 1em);
}

.content__meta {
  --flow-space: 1em;
}

.content__date {
  margin-right: 2px;
  font-size: var(--size-small);
}
