.footer {
  --content-padding: 24px;
  padding: var(--content-padding) 24px;
  background-color: white;

  @include breakpoint('small') {
    --content-padding: 32px;
  }

  @include breakpoint('medium') {
    --content-padding: 48px;
  }
}

.footer__inner {
  margin: auto;
  max-width: var(--content-width);
}
