.nav {
  text-align: center;
  --flow-space: 0;

  &__list {
    padding-left: 0;
    list-style-type: none;
  }

  &__list-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 24px;

      @include breakpoint('small') {
        margin-right: 40px;
      }
    }

    a {
      font-family: var(--header-font-family);
    }
  }
}
