.nav {
  text-align: center;
  --flow-space: 0;

  &__list {
    padding-left: 0;
    list-style-type: none;
  }

  &__list-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;

      @include media('>small') {
        margin-right: 2.5rem;
      }
    }

    a {
      font-family: var(--header-font-family);
    }

    // a {
    //   background: #d26481;
    //   color: white;
    //   padding: 10px 20px;
    //   text-decoration: none;
    //   border-radius: 4px;
    // }
  }
}
