.pagination {
  max-width: var(--content-width);
  margin: auto;
  padding: var(--flow-space) 16px;

  @include breakpoint('small') {
    padding-left: 0;
    padding-right: 0;
  }
}

.pagination__inner {
  display: flex;
  justify-content: space-between;
}
