---
title: Contact
layout: page.njk
---
<form name="contact" method="POST" data-netlify="true">
  <p>
    <label for="name">Your Name:</label>
    <input type="text" name="name" id="name" />
  </p>
  <p>
    <label for="email">Your Email:</label>
    <input type="email" name="email" id="email" />
  </p>
  <p>
    <label for="message">Message:</label>
    <textarea name="message" id="message"></textarea>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
