---
title: Tag Archives
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
permalink: /tags/{{ tag | slug }}/
eleventyExcludeFromCollections: true
---
{% extends 'layouts/base.njk' %}

{% set contentHeading = "Posts tagged with “" ~ tag ~ "”" %}
{% set postListItems = collections[tag] | reverse %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="content">
     <h1 class="content__title">{{ contentHeading }}</h1>
      {% include "partials/components/post-listing.njk" %}
    </article>
  </main>
{% endblock %}
