---
eleventyComputed:
  title: Posts tagged with "{{ tag }}"
eleventyExcludeFromCollections: true
layout: page.vto
pagination:
  data: collections.tagsList
  size: 1
  alias: tag
permalink: /tags/{{ tag |> slugify }}/
---
{{ set postListItems = collections[tag] |> reverse }}

{{ include "archives-list.vto" }}
