html {
  font-family: var(--base-font-family);
  font-weight: 400;
  color: var(--text-color);
}

hr {
  border: 0;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
}

a {
  color: var(--primary-link);
  font-weight: bold;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
}

h1,
h2,
h3 {
  font-family: var(--header-font-family);
}

h1 {
  font-size: var(--size-h1);
  line-height: 1.3;
}

h2 {
  font-size: var(--size-h2);
  line-height: 1.5;
}

h3 {
  font-size: var(--size-h3);
}

small,
p:has(small) {
  font-size: var(--size-small);
  line-height: 1.7;
}

p,
li {
  line-height: 1.825;
  font-size: var(--size-body);
}

li {
  --flow-space: 1em;
}

ul,
ol {
  padding-left: 16px;

  & > * + * {
    margin-top: var(--flow-space);
  }
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

figcaption {
  text-align: center;
  margin-top: 8px;
  font-size: var(--size-small);
  line-height: 1.5;
}

blockquote {
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid var(--text-color);
}
