html {
  color: var(--text-color);
  font-family: var(--base-font-family);
  font-weight: 400;
}

hr {
  block-size: 0.25rem;
  border: 0;
  border-radius: 0.25rem;
  background-color: var(--accent-color);
}

a {
  color: var(--primary-link);
  font-weight: bold;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 0.125rem;
}

h1,
h2,
h3 {
  font-family: var(--header-font-family);
}

h1,
.h1 {
  font-size: var(--size-h1);
  line-height: 1.3;
}

h2 {
  font-size: var(--size-h2);
  line-height: 1.5;
  border-block-end: solid 1px var(--border-color);
}

h3 {
  font-size: var(--size-h3);
}

small,
p:has(small) {
  font-size: var(--size-small);
  line-height: 1.7;
}

p:empty {
  display: none;
}

p,
li {
  font-size: var(--size-body);
  line-height: 1.75;
  margin-block-end: var(--space-m);
}

figure,
hr {
  margin-block-end: var(--space-m);
}

ul,
ol {
  margin-block-end: var(--space-m);
}

ol {
  padding-inline-start: 1.5rem;
  list-style-type: decimal;
}

ul {
  padding-inline-start: 1rem;
  list-style-type: square;
}

figure {
  margin-inline: 0;
}

figcaption {
  margin-block-end: 0.5rem;
  font-size: var(--size-small);
  line-height: 1.5;
  text-align: center;
}

blockquote {
  margin-inline-start: 3.125rem;
  padding-inline-start: 1rem;
  border-inline-start: 0.25rem solid var(--text-color);
}
