input,
textarea {
  inline-size: 100%;
  padding: 1rem;
  padding: var(--space-xs);
  border: solid 1px var(--accent-color);
  appearance: none;
}

label {
  font-weight: 700;
}

button {
  padding-block: var(--space-xs);
  padding-inline: var(--space-xl);
  color: inherit;
  font-weight: 700;
  cursor: pointer;
}

form > * + * {
  margin-block-start: var(--flow-space, 1.25em);
}
