input,
textarea {
  appearance: none;
  border: solid 1px var(--accent-color);
  padding: 1rem;
  width: 100%;
}

label {
  font-weight: 700;
}

button {
  font-weight: 700;
  padding: 1rem 3rem;
  /* background-color: white; */
  color: inherit;
  /* border: solid 1px var(--accent-color); */
  cursor: pointer;
}

form > * + * {
    margin-block-start: var(--flow-space, 1.25em);
  }
