/* Accessibility fun! */
.skip-link {
  display: inline-block;
  position: absolute;
  padding: var(--space-s);
  transform: translateY(-100%);
  background-color: var(--text-color);
  color: var(--accent-color);
  font-size: var(--size-body);
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  inset-block-start: 0;
  inset-inline-start: 0;

  &:focus {
    transform: translateY(0%);
  }
}

/* General shit that doesn't belong anywhere else. */
.visually-hidden {
  position: absolute;
  block-size: auto;
  inline-size: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  white-space: nowrap;
}
