@custom-media --small (width >= 30em);
@custom-media --medium (width>= 48em);
@custom-media --large (width>= 64em);

:root {
  /* Font families */
  --base-font-family: 'Roboto', sans-serif;
  --header-font-family: 'Lato', sans-serif;

  /* Basic site settings */
  --content-width: 800px;
  --content-padding: 0;

  /* Colors */
  --primary-link: #bc526e;
  --primary-link-dark: color-mix(in srgb,
      var(--primary-link),
      black 25%);
  --secondary-link: #70d7d0;
  --background-color: #f9f9f9;
  --accent-color: #eee;
  --text-color: #333;
  --text-color-dark: color-mix(in srgb,
        var(--secondary-link),
        black 15%);

  /* Spacing */
  --flow-space: 1.5em;

  /* Default sizes */
  --step--2: clamp(0.65rem, calc(0.55rem + 0.50vw), 0.80rem);
  --step--1: clamp(0.78rem, calc(0.64rem + 0.73vw), 1.00rem);
  --step-0: clamp(0.94rem, calc(0.73rem + 1.04vw), 1.25rem);
  --step-1: clamp(1.13rem, calc(0.83rem + 1.46vw), 1.56rem);
  --step-2: clamp(1.35rem, calc(0.95rem + 2.01vw), 1.95rem);
  --step-3: clamp(1.62rem, calc(1.07rem + 2.74vw), 2.44rem);
  --step-4: clamp(1.94rem, calc(1.21rem + 3.69vw), 3.05rem);
  --step-5: clamp(2.33rem, calc(1.34rem + 4.94vw), 3.82rem);

  /* Site specific sizes */
  --size-logo: var(--step-2);
  --size-h1: var(--step-3);
  --size-h2: var(--step-2);
  --size-h3: var(--step-1);
  --size-body: var(--step-0);
  --size-small: var(--step--1);
}
