:root {
  /* Font families */
  --base-font-family: 'Roboto', sans-serif;
  --header-font-family: 'Lato', sans-serif;

  /* Basic site settings */
  --content-width: 55rem; /* 880px */
  --content-padding: 0;

  /* Colors */
  --primary-link: #bc526e;
  --primary-link-dark: color-mix(in srgb, var(--primary-link), black 25%);
  --secondary-link: #70d7d0;
  --background-color: #f9f9f9;
  --accent-color: #eee;
  --border-color: #ccc;
  --text-color: #333;
  --text-color-dark: color-mix(in srgb, var(--secondary-link), black 15%);

  /* Spacing */

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,880,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.25rem, 0.2143rem + 0.1786vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4286rem + 0.3571vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6429rem + 0.5357vw, 0.9375rem);
  --space-s: clamp(1rem, 0.8571rem + 0.7143vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.2857rem + 1.0714vw, 1.875rem);
  --space-l: clamp(2rem, 1.7143rem + 1.4286vw, 2.5rem);
  --space-xl: clamp(3rem, 2.5714rem + 2.1429vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.4286rem + 2.8571vw, 5rem);
  --space-3xl: clamp(6rem, 5.1429rem + 4.2857vw, 7.5rem);

  /* Default sizes */

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,880,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.6944rem, 0.6341rem + 0.3016vw, 0.8rem);
  --step--1: clamp(0.8333rem, 0.7381rem + 0.4762vw, 1rem);
  --step-0: clamp(1rem, 0.8571rem + 0.7143vw, 1.25rem);
  --step-1: clamp(1.2rem, 0.9929rem + 1.0357vw, 1.5625rem);
  --step-2: clamp(1.44rem, 1.1468rem + 1.4661vw, 1.9531rem);
  --step-3: clamp(1.728rem, 1.3203rem + 2.0383vw, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.5147rem + 2.7947vw, 3.0518rem);
  --step-5: clamp(2.4883rem, 1.7304rem + 3.7896vw, 3.8147rem);

  /* Site specific sizes */
  --size-logo: var(--step-2);
  --size-h1: var(--step-3);
  --size-h2: var(--step-2);
  --size-h3: var(--step-1);
  --size-body: var(--step-0);
  --size-small: var(--step--1);
  --size-large: var(--step-1);
}
